DAGSHUB_USERNAME=your_dagshub_username
DAGSHUB_TOKEN=your_dagshub_token

MLFLOW_TRACKING_URI=https://dagshub.com/YOUR_USERNAME/content-intel-pipeline.mlflow
MLFLOW_TRACKING_USERNAME=your_dagshub_username
MLFLOW_TRACKING_PASSWORD=your_dagshub_token

# Hugging Face
HF_TOKEN=hf_your_token_here
HF_MODEL_ID=your_username/content-classifier-distilbert

# Upstash Redis (for caching)
REDIS_URL=rediss://default:your_password@your_endpoint.upstash.io:6379

# Kafka (add after setting up broker)
KAFKA_BOOTSTRAP_SERVERS=your_broker_url
KAFKA_USERNAME=your_username
KAFKA_PASSWORD=your_password
KAFKA_TOPIC=content-stream
